p{
    margin: 0;
    padding: 0;
}
.information {
    font-size: 10px;
    font-weight: normal;
    color: #777;
}
.title {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}
.artist {
    font-size: 10px;
    font-weight: normal;
    color: #777;
    text-align: left;
    padding-bottom: 5px;
}
.text-styles{
    margin-left:0;
}
.main_container {
    display: flex;
    gap: 20px;
}
.container-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.image{
    widht: 100%;
    aspect-ratio: 1/1;
    height: 320px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

   // explore.css
.explore-lists {
    margin-top: 0;
  }
  
.explore-lists ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
  }
  
  .explore-lists li {
    margin: 10px;    
  }
  
  .explore-lists a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px;
    border: 0px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .explore-lists a:hover {
    background-color: #f0f0f0;
  }
  
 