p{
    margin: 0;
    padding: 0;
}
.information {
    font-size: 12px;
    font-weight: normal;
    color: #777;
}
.title {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}
.artist {
    font-size: 12px;
    font-weight: normal;
    color: #777;
    text-align: left;
    padding-bottom: 5px;
}
.text-styles{
    margin-left:0;
}
.image{
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    
}
.main_container {
    display: flex;
}
.container-info {
    margin-right: 5px;
}

.explore-lists ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    
}
.explore-lists ul li {
    list-style: none;
    flex: 0 0 33.333333%;
    margin: 15px;
}
.explore-lists li a {
    color: red;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    padding: 15px 20px;
    border: 0.5px solid #777;
    border-radius: 5px;
    background-color: #777;
}
.explore-lists li a:hover {
    color: white;
    background-color: #000;
